@inherits HeaderCarouselBase


<div class="w-100 h-100 d-flex flex-row HeaderCarouselWrapper ">

    <div class="DetailWrapper">
        <span class="DetailTitle">@(Selected.Title)</span>
        <span class="btn btn-success DetailViewPage" @onclick="()=>NavigateTo(Selected.Link)">
            تماشا کنید
        </span>
    </div>
    <div class="img-gradient w-100 h-100 ">
        <img src="@Selected.Image" class="w-100 h-100 " 
               onerror="this.onerror=null;this.src='https://img.lovepik.com/element/40021/7866.png_1200.png';"
             />
    </div>


    @if(Data.Items is not null)
    {
        <div class="ImageThumbnailWrapper">
        @foreach (var item in Data.Items)
        {
            <div class="ImageThumbnail" @onclick="()=>ChangeImage(item)" style="width:@(100/(Data.Items.Count+2))%">
                <img class='h-100 ImageThumbnail @(Selected.Id == item.Id ? "SelectedImageThumbnail":"")' src="@item.ImageThumbnail" 
                     onerror="this.onerror=null;this.src='https://img.lovepik.com/element/40021/7866.png_1200.png';" />
            </div>

        }
    </div>
    }
</div> 